#bodyIndex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  background: rgba(0, 0, 0, 0.575);
  align-items: center;
}

#infoWindow {
  width: 70%;
  height: 50vh;
  background: grey;
}

form {
  background: rgba(0, 0, 0, 0.836);
  text-align: center;
  color: white;
  box-shadow: 3px 3px 5px lightgreen;
  border-radius: 10px;
}

table {
  border: 2px solid black;
}

thead, th,td {
  border: 1px solid black;
  background: whitesmoke;
  text-align: center;
}

#formDisplay {
  position: absolute;
  margin-top: 87vh;
}

#getDataButton, #sendButton {
  background: black;
  color: white;
  border-radius: 5px;
  border: none;
}

#formThree {
  margin-top: 2vh;
}